.btn {
    all: unset;
    background-color: #f888;
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid #fff;
    margin-top: 25px;
}

.btn:hover {
    background-color: #fff;
    border: 3px solid #f66;
    color: #f66;
}

.homepage h2 {
    text-align: center;
    margin-bottom: 40px;
}

.homepage i {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}